@model StudyGroupModel

@{
    ViewBag.Title = "Grupos de Estudo";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grupos de Estudo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }

            .card img {
                max-width: 100%;
                height: auto;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Grupos de Estudo</h2>

        <!-- Adicionando botão "Adicionar Grupo" -->
        <div class="d-flex justify-content-end mb-3">
            <a href="@Url.Action("CreateStudyGroup", "StudyGroup")" class="btn btn-outline-primary">Adicionar Grupo</a>
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center">
            @foreach (var group in ViewBag.Groups)
            {
                <div class="col-md-3">
                    <div class="card">
                        <h3>@group.Title</h3>
                        <p>@group.Description</p>
                        <a href="@group.Link">Link</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
