@model LoginModel

@{
    Layout = "_LayoutUnlogged";
    ViewData["Title"] = "Login";
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Login" asp-action="Login" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" asp-for="Username" class="form-control" id="username" aria-describedby="username">
        @Html.ValidationMessageFor(loginModel => loginModel.Username)
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        @Html.ValidationMessageFor(loginModel => loginModel.Password)
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>